<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header class="flex-row-reverse">
            <mat-card-title>טופס הרשמה לתלמיד</mat-card-title>
        </mat-card-header>
        <form [formGroup]="Personal_Information" (ngSubmit)="onSubmit()" dir="rtl">

            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1 margin-left-2">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>מוסד</label>
                            <input matInput ngModle type=" text" formControlName="institution">
                        </mat-form-field>
                    </div>
                    <div class="flex-grow-1"></div>
                </mat-card-content>
            </fieldset>

            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1 margin-left-2">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>תעודת זהות</label>
                            <input matInput ngModle type="text" formControlName="identify">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.identify.errors"
                            class="error">{{err.identify}}</span>
                    </div>

                    <div class="flex-grow-1">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>תאריך לידה</label>
                            <input matInput ngModle type="date" formControlName="birthday">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.birthday.status!='VALID'"
                            class="error">{{err.birthday}}</span>
                    </div>
                </mat-card-content>
            </fieldset>

            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1 margin-left-2">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>שם משפחה</label>
                            <input matInput ngModle type="text" formControlName="lastName">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.lastName.status!='VALID'"
                            class="error">{{err.lastName}}</span>
                    </div>

                    <div class="flex-grow-1">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>ארץ לידה</label>
                            <input matInput type="text" ngModle formControlName="country">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.country.status!='VALID'"
                            class="error">{{err.country}}</span>
                    </div>
                </mat-card-content>
            </fieldset>

            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1 margin-left-2">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>שם פרטי</label>
                            <input matInput ngModle type="text" formControlName="firstName">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.firstName.status!='VALID'"
                            class="error">{{err.firstName}}</span>
                    </div>

                    <div class="flex-grow-1">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>תאריך עליה</label>
                            <input matInput type="date" ngModle formControlName="immigration">
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </fieldset>

            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1 margin-left-2">

                        <label>מין </label>
                        <select class="flex flex-column-small" matInput type="text" ngModle formControlName="gender">
                            <option value="זכר">זכר</option>
                            <option value="נקבה">נקבה</option>
                        </select>
                        <span *ngIf="Personal_Information.controls.gender.status!='VALID'"
                            class="error">{{err.gender}}</span>
                    </div>
                    <div class="flex-grow-1">
                        <mat-form-field class="example-full-width flex flex-column">
                            <label>לאום</label>
                            <input matInput type="text" ngModle formControlName="nation">
                        </mat-form-field>
                    </div>

                </mat-card-content>
            </fieldset>
            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1">

                        <mat-form-field class="example-full-width flex flex-column">
                            <label>טלפון בבית </label>
                            <input matInput type="text" ngModle formControlName="homeNumber">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.homeNumber.status!='VALID'"
                            class="error">{{err.homeNumber}}</span>
                    </div>
                </mat-card-content>
            </fieldset>

            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1">

                        <mat-form-field class="example-full-width flex flex-column">
                            <label>פלאפון</label>
                            <input matInput type="text" ngModle formControlName="mobile">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.mobile.status!='VALID'"
                            class="error">{{err.mobile}}</span>
                    </div>
                </mat-card-content>
            </fieldset>

            <fieldset ngModleGroup="name">
                <mat-card-content class="flex flex-column-small">
                    <div class="flex-grow-1">

                        <mat-form-field class="example-full-width flex flex-column">
                            <label>אימייל </label>
                            <input matInput type="text" ngModle formControlName="email">
                        </mat-form-field>
                        <span *ngIf="Personal_Information.controls.email.status!='VALID'"
                            class="error">{{err.email}}</span>
                    </div>
                </mat-card-content>
            </fieldset>

            <button mat-stroked-button color="accent" type="submit" class="btn-block"
                [disabled]="!Personal_Information.valid">הרשמה</button>

            </form>
    </mat-card>

</div>